@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FIM DO RESET CSS */

/* Inicio Estilizações de Componentes Primeng */
.p-sidebar {
	background: #181c22;
}

.p-button,
.p-button:hover {
	border: none;
	box-shadow: none;
}

/* Fim Estilizações de Componentes Primeng */

main {
	margin-top: 0.625rem;
	padding: 0.625rem;
}

h1 {
	font-size: 20px;
	font-family: 'Ubuntu', sans-serif;
	margin-top: 0.625rem;
	margin-left: 0.625rem;
}

.p-card {
	background: white;
	border-radius: 0.5rem;
	box-shadow: 0.1875rem 0.125rem 1rem -0.0625rem rgba(81, 82, 81, 0.72);
	user-select: none;
}

.card-adjust {
	min-height: 85vh;
	margin-right: 0.625rem;
	margin-left: 0.625rem;
}